/* Styles for the examples app */
@import url("./tailwind-output.css");

.App {
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0.5rem;
}

nav {
  margin-bottom: 0.5rem;
}

a {
  margin-right: 1rem;
}
